{% extends 'usermasterpage.html' %}
{% block content %}
   <div class="jumbotron">
    <h1 class="tittle-w3-agileits mb-4"><center style="color:red;"><i>Delivery Address</i></center></h1>
    <table class="table table-bordered"  cellspacing="0" cellpadding="10" border="2px solid blue" align="center">
        <tr class="thead-dark">
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>PinCode</th>
            <th>City</th>
            <th>State</th>
            <th>Action</th>

        </tr>
        {% if ud %}
        <tr>
            <td>{{ud.userName}}</td>
            <td>{{ud.userEmail}}</td>
            <td>{{ud.userMobile}}</td>
            <td>{{ud.userAddress}}</td>
            <td>{{ud.userPinCode}}</td>
            <td>{{ud.userCity}}</td>
            <td>{{ud.userState}}</td>
            <td><a href="/user/viewprofile/?id={{ud.userEmail}}" style="color:red;"><h4>Edit</h4></a><br>

        </tr>

        {% endif %}
    </table>
</div>
<div class="jumbotron">
    <h1 class="tittle-w3-agileits mb-4"><center style="color:red;"><i>Order Summary</i></center></h1>
<table class="table table-bordered"  cellspacing="0" cellpadding="10"  align="center">
    <tr class="thead-dark">
        <th><center>Image</center></th>
        <th><center>Product</center></th>
        <th><center>Price/piece</center></th>
        <th><center>Size</center></th>
        <th><center>Quantity</center></th>
        <th><center>TotalPrice</center></th>


    </tr>
    {% if d1 %}
    <tr>
        <td><img src="/media/{{d1.product_image1}}" class="log-responsive" height="250px" width="200px"></td>
        <td ><h2 style="color:blue;">{{d1.product_name}}</h2></td>
        <td><h1 id="price_{{ d1.product_id }}" data-value="{{d1.product_price}}" style="color:red;">Rs.{{d1.product_price}}/-</h1></td>
        <td><h2 style="color:blue;">{{s1}}</h2></td>
        <td>    <div class="cart-quantity">
        <input type='button' value='-' class='qtyminus ' field ='updates_{{ d1.product_id }}' />
        <input type="text" readonly name="updates[]" id="updates_{{ d1.product_id }}" class="quantity" value="1" />
        <input type='button' value='+' class='qtyplus ' field ='updates_{{ d1.product_id }}' />
    </div></td>
        <td>
            <h2 class="myShi"  data-set="shi" id='totalprice_{{ d1.product_id }}' style="color:red;">{{d1.product_price}}</h2>
        </td>

    </tr>

</table>
</div>

<div align="center">
    <button type="submit" class="btn btn-primary">Continue Shopping</button>
     {% if d3 %}
    <a id="getQuery" href="/user/buynoworder/?pid={{d3}}"><button type="submit"  class="btn btn-primary buy place">Place Order</button></a>
     {% endif %}
</div>
   {% endif %}
<br><br><br><br>


<script>
$(document).ready(function(){
    var get_href = $('#getQuery').attr('href');
    $('.qtyplus').click(function(e){
    //alert('helloplus');
        e.preventDefault();
        fieldName = $(this).attr('field');
        var geek = fieldName.split("_")
        //alert('helloattr'+geek[1]);
        var fieldPrice='#price_'+geek[1];
        //alert(fieldPrice);
        var pricedata=$(fieldPrice).attr('data-value');
        //alert(pricedata);
        var currentVal = parseInt($('input[id='+fieldName+']').val());
        if (!isNaN(currentVal)) {
            $('input[id='+fieldName+']').val(currentVal + 1);
            var tp=(currentVal + 1)*pricedata;
            var totalPrice='#totalprice_'+geek[1];
            //alert(totalPrice);
            //alert(totalprice);
            $(totalPrice).html(tp);
            $('#getQuery').attr('href', get_href + "&tp=" + tp);

        } else {

            $('input[id='+fieldName+']').val(0);
        }
    });
    $(".qtyminus").click(function(e) {
        e.preventDefault();
        fieldName = $(this).attr('field');

        var geek = fieldName.split("_")
        //alert('helloattr'+geek[1]);
        var fieldPrice='#price_'+geek[1];
        //alert(fieldPrice);
        var pricedata=$(fieldPrice).attr('data-value');
        //alert(pricedata);
        //fieldName = $(this).attr('field')
        var currentVal = parseInt($('input[id='+fieldName+']').val());
        if (!isNaN(currentVal) && currentVal > 0) {
            $('input[id='+fieldName+']').val(currentVal - 1);
            var tp=(currentVal - 1)*pricedata;
            var totalPrice='#totalprice_'+geek[1];
            //alert(tp);
            //alert(totalprice);
            $(totalPrice).html(tp);
            $('#getQuery').attr('href', get_href + "&tp=" + tp);

        } else {
            $('input[id='+fieldName+']').val(0);
        }
    });
});
</script>

{% endblock %}