{% extends 'masterpage.html' %}
{% block content %}

<form method="post">
    {% csrf_token %}
    {% if cpass %}
    <script type="text/javascript" >
        alert("password changed successfully")
    </script>
    {% endif %}

<label>Currentpassword:</label>
<input type="text" name="currentpass"><br>
    <label>Newpassword</label>
    <input type="text" name="newpass"><br>
    <label>Againpassword</label>
    <input type="text" name="againpass"><br>

    <input type="submit" value="ChangePassword">

</form>





{% endblock %}