{% extends 'masterpage.html' %}
{% block content %}
<div class="outer-w3-agile mt-3">
    <h1 class="tittle-w3-agileits mb-4" align="center">CHANGE PASSWORD</h1>
<form method="post">
    {% csrf_token %}
    {% if cpass %}
    <script type="text/javascript" >
        alert("password changed successfully")
    </script>
    {% endif %}
<div class="form-group col-md-6">
    <label>Current Password</label>
    <input type="text" name="currentpass" class="form-control" id="exampleInputCurrentpass" aria-describedby="emailHelp" name="currentpass" placeholder="Enter Current Password"><br>
</div>
    <div class="form-group col-md-6">
    <label>New Password</label>
    <input type="text" name="newpass" class="form-control" id="exampleInputNewpass" aria-describedby="emailHelp" name="newpass" placeholder="Enter New Password"><br>
    </div>
    <div class="form-group col-md-6">
        <label>Repeat New Password</label>
    <input type="text" name="againpass" class="form-control" id="exampleInputAgainpass" aria-describedby="emailHelp" name="againpass" placeholder="Enter New Password Again"><br>
    </div>&nbsp;&nbsp;&nbsp;
    <input type="submit"  class="btn btn-primary" value="ChangePassword">

</form>
</div>




{% endblock %}