{% extends 'masterpage.html' %}
{% block content %}
<br><br><br><br><div>

<form method="POST" style="border:4px solid black;width:600px;padding:50px;display:inline-block;border-radius:23px;
          background-color:gray;position:relative;left:400px;color:white;align:center;">
    {% csrf_token %}
    {% if wrongem %}
    <script type="text/javascript">
        alert('wrong email');
    </script>
    {% endif %}

       {% if wrongpw %}
    <script type="text/javascript">
        alert('wrong password');
    </script>
    {% endif %}

    {% if isv %}
    <script type="text/javascript">
        alert('please verify your email');
    </script>
    {% endif %}

  <div class="form-group col-sm-8">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Enter email">

  </div>
  <div class="form-group col-sm-8">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div><br><br><br><br>
{% endblock %}