{% extends 'usermasterpage.html' %}
{% block content %}


{% if d1 %}


<img src="/media/{{d1.product_image1}}" height="300px" width="300px" >
    <img src="/media/{{d1.product_image2}}" height="300px" width="300px" >
    <img src="/media/{{d1.product_image3}}" height="300px" width="300px" >
    <img src="/media/{{d1.product_image4}}" height="300px" width="300px" >&nbsp;


<a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">ADD TO CART</a>

<a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">BUY NOW</a>
{% endif %}






{% endblock %}