<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashion Login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="/assets/login/css/style.css/" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/login/css/css/font-awesome.css/" rel="stylesheet"> <!-- Font-Awesome-Icons-CSS -->

<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
<!-- //web font -->
</head>
<body>
<!-- main -->
<div class="main">
<h1>SignUp Form</h1>
<div class="main-w3lsrow">
			<!-- login form -->
<div class="login-form login-form-left">
<div class="agile-row">
<h2>SignUp to JaruratBazaar</h2>
<span class="fa fa-lock"></span>
<div class="clear"></div>
<div class="login-agileits-top">
<form action="#" method="post" enctype="multipart/form-data">
{% csrf_token %}
{% if success %}
    <script type="text/javascript">
        alert('Successfully Registered');
    </script>

    {% endif %}
     <input type="text" class="name" id="name" name="name" placeholder="Name">
    <input type="email" class="email" id=email name="email" Placeholder="Useremail" required=""/>
    <input type="text" class="mobile" id="mobile" name="mobile" placeholder="Mobile">
    <input type="text" class="address" id="address" name="address" placeholder="Address">
    <input type="text" class="city" id="city" name="city" placeholder="City">

    <select  style="width:100%;height:50px;" id="state" name="state" class="state">
        <option selected>Choose...</option>
        <option>Haryana</option>
        <option>Punjab</option>
        <option>Himachal Pradesh</option>
        <option>Delhi</option>
        <option>Chandigarh</option>
      </select><br><br>
    <input type="text" class="gender" id="gender" name="gender" placeholder="Gender">
    <input type="text" class="pincode" id="pincode" name="pincode" placeholder="Pin Code">
    <input type="text" class="dob" id="dob" name="dob" placeholder="Date of Birth">
    <input type="file" class="file" id="file" name="profile">
	<input type="password" class="password" id="password" name="password" Placeholder="Password" required=""/>
	<input type="submit" value="SignUp">
	</form>
	</div>
</div>
</div>
</div>
</div>

	<!-- //main -->
</body>
</html>





