<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <style>
        #div1{
        display:none;
        }
    </style>
<title>login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashion Login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<script type="text/javascript" src="/assets/js/mainjquery.js/"></script>
<script type="text/javascript" src="/assets/js/signup.js/"></script>
 <script type="text/javascript" src="/assets/js/bootstrap.min.js/"></script>
<link href="/assets/css/bootstrap.min.css/" rel="stylesheet" type="text/css">
 <link href="/assets/css/signup.css/" rel="stylesheet" type="text/css">
<link href="/assets/login/css/style.css/" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/login/css/css/font-awesome.css/" rel="stylesheet"> <!-- Font-Awesome-Icons-CSS -->

<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
<!-- //web font -->
</head>
<body>
<!-- main -->
<div class="main">
<h1>SignUp Form</h1>
<div class="main-w3lsrow">
			<!-- login form -->
<div class="login-form login-form-left">
<div class="agile-row">
<h2>SignUp to JaruratBazaar</h2>
<span class="fa fa-lock"></span>
<div class="clear"></div>
<div class="login-agileits-top">
    <div class="outer-w3-agile mt-3">
<form action="#" method="post" enctype="multipart/form-data">
{% csrf_token %}
{% if success %}
    <script type="text/javascript">
        alert('Successfully Registered');
    </script>

    {% endif %}
    <div style="color:white;">

    <input type="radio" value="2" name="b1" id="b1"> user

        <input type="radio" value="3" name="b1" id="b2"> shopkeeper</div>
    <br>
    <div>
        <label style="color:white; position:relative;right:150px;">Name</label>
     <input   type="text" id="exampleName" name="name" placeholder="Name">
    </div>
    <div  >
    <label style="color:white;position:relative;right:150px;">Email</label>
    <input type="email" id=email name="email" Placeholder="Useremail" required=""/>
    </div>
    <div  >
        <label style="color:white;position:relative;right:150px;">Mobile</label>
    <input type="text" id="mobile" name="mobile" placeholder="Mobile">
    </div>
    <div >
    <label style="color:white;position:relative;right:140px;">Address</label>
    <input type="text"  id="address" name="address" placeholder="Address">
    </div>
    <div >
    <label style="color:white;position:relative;right:150px;">City</label>
    <input type="text" id="city" name="city" placeholder="City">
    </div>
    <div>
<label style="color:white;position:relative;right:150px;">State</label>
    <select  style="width:320px;height:50px;" class="form-control" id="state" name="state">
        <option selected>Choose...</option>
        <option>Haryana</option>
        <option>Punjab</option>
        <option>Himachal Pradesh</option>
        <option>Delhi</option>
        <option>Chandigarh</option>
      </select><br>
    </div>
    <div >
        <label style="color:white;position:relative;right:140px;">Gender</label>
        <input type="text" id="gender" name="gender" placeholder="Gender">
    </div>
    <div >
        <label style="color:white;position:relative;right:140px;">Pin Code</label>
    <input type="text" id="pincode" name="pincode" placeholder="Pin Code">
    </div>
    <div >
        <label style="color:white;position:relative;right:120px;">Date Of Birth</label>
    <input type="text" id="dob" name="dob" placeholder="Date of Birth">
    </div>
    <div >
        <label style="color:white;position:relative;right:150px;">Profile</label>
    <input type="file" id="file" name="profile" placeholder="profile">
    </div>
    <div>
        <label style="color:white;position:relative;right:130px;">Password</label>
	<input type="password" id="password" name="password" Placeholder="Password" required=""/>
    </div>
    <div id="div1">
        <label style="color:white;position:relative;right:100px;">Aadhar Card No.</label>
        <input type="text" name="aadharno" placeholder="AadharCardNo:">
        <label style="color:white;position:relative;right:120px;">PAN Card No.</label>
        <input type="text"  id="panno" name="pan" placeholder="Pan Card No:">
        <label style="color:white;position:relative;right:140px;">GST NO:</label>
        <input type="text"  id="gst" name="gst" placeholder="GST No:">
        <label style="color:white;position:relative;right:120px;">Shop Address</label>
        <input type="text" id="shopaddress" name="shopaddress" placeholder="Shop Address">
        <label style="color:white;position:relative;right:100px;">AadharCardImage</label>
        <input type="file"  id="aadharimage" name="aadharimage" placeholder="Aadhar Card Image">
        <label style="color:white;position:relative;right:120px;">PanCardImage</label>
        <input type="file" id="panimage" name="panimage" placeholder="Pan Card Image">
    </div>
	<input type="submit" value="SignUp">
	</form>
	</div>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $("#b2").click(function(){
    $("#div1").show();

    });
    $(".b1").click(function(){
    $("#div1").hide();

    });
});
</script>

	<!-- //main -->
</body>
</html>





