<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verification</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    {% if success %}
    <script type="text/javascript">
        alert('Successfully Verified');
    </script>
    {% endif %}
    <label>Full Name</label>
    <input type="text" name="name"><br/>
    <label>Email Id</label>
    <input type="text" name="email"><br/>
    <label>Mobile</label>
    <input type="text" name="mobile"><br/>
    <label>Password</label>
    <input type="password" name="password"><br/>

    <label>State</label>
    <input type="text" name="state"><br/>
    <input type="button" value="Verify">
</form>
</body>
</html>