{% extends 'usermasterpage.html' %}
{% block content %}
<br>
<div class="jumbotron">
    <h1 class="tittle-w3-agileits mb-4"><center><i>ADD TO CART</i></center></h1>
<table class="table table-bordered"  cellspacing="0" cellpadding="10" border="2px solid blue" align="center">
    <tr class="thead-dark">
        <th><center>Image</center></th>
        <th><center>Product</center></th>
        <th><center>Price</center></th>
        <th><center>Quantity</center></th>
        <th><center>Action</center></th>
    </tr>
    {% if tpd %}
    {% for i in tpd %}
    <tr>
        <td><img src="/media/{{i.product_image}}" class="log-responsive" height="50px" width="50px"></td>
        <td>{{i.product_name}}</td>
        <td>{{i.product_price}}</td>
        <td>    <div class="cart-quantity">
        <input type='button' value='-' class='qtyminus' field ='updates_{{ product_qty }}' />
        <input type="number" name="updates[]" id="updates_{{ product_qty }}" class="quantity" value="{{ i.product_qty }}" />
        <input type='button' value='+' class='qtyplus' field ='updates_{{ product_qty }}' />
    </div></td>
        <td><a href="/user/remove/?id={{i.table_id}}">Remove</a></td>
    </tr>
    {% endfor %}
    {% endif %}




</table>
</div>
    <br>
<div align="center">
<a href="//" class="btn btn-primary  btn-lg active" role="button" aria-pressed="true">Continue Shopping</a>
<a href="/user/ordersummary/" class="btn btn-warning  btn-lg active" role="button" aria-pressed="true">Checkout</a>

</div>
<br><br><br><br><br><br><br><br><br><br>


<script>
$(document).ready(function(){
    $('.qtyplus').click(function(e){
        e.preventDefault();
        fieldName = $(this).attr('field');
        var currentVal = parseInt($('input[id='+fieldName+']').val());
        if (!isNaN(currentVal)) {
            $('input[id='+fieldName+']').val(currentVal + 1);
        } else {
            $('input[id='+fieldName+']').val(0);
        }
    });
    $(".qtyminus").click(function(e) {
        e.preventDefault();
        fieldName = $(this).attr('field')
        var currentVal = parseInt($('input[id='+fieldName+']').val());
        if (!isNaN(currentVal) && currentVal > 0) {
            $('input[id='+fieldName+']').val(currentVal - 1);
        } else {
            $('input[id='+fieldName+']').val(0);
        }
    });
});
</script>
{% endblock %}