{% extends 'masterpage.html' %}
{% block content %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" data-interval="10000000">
    <div class="carousel-item active">
        <img src="/assets/images/slide5.jpg" class="d-block " height="400px" width="1350px">
    </div>
    <div class="carousel-item ">
      <img src="/assets/images/slide6.jpg" class="d-block" height="400" width="1350" >
    </div>
    <div class="carousel-item">
      <img src="/assets/images/slide7.jpg" class="d-block " height="400" width="1350">
    </div>
  </div>
</div>

  <br>

<div class="card" style="width: 18rem; " >
  <img src="/assets/images/card1.jpg/" class="card-img-top" >
  <div class="card-body">
    <h5 class="card-title">Black Unique watch</h5>
    <p class="card-text">Track Your Fitness</p>
    <p class="card-text">UpTo 80%off</p>
    <a href="#" class="btn btn-primary">Buy Now</a>
  </div>
  <img src="/assets/images/card1.jpg/" class="card-img-top" >
  <div class="card-body">
    <h5 class="card-title">Black Unique watch</h5>
    <p class="card-text">Track Your Fitness</p>
    <p class="card-text">UpTo 80%off</p>
    <a href="#" class="btn btn-primary">Buy Now</a>
  </div>
</div>





{% endblock %}