<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>JaruratBazaar</title>
    <script src="/assets/js/mainjquery.js/" type="text/javascript"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css/" type="text/css">
    <script src="/assets/js/bootstrap.min.js/" type="text/javascript"></script>
    <link rel="stylesheet" href="/assets/css/sliding.css/" type="text/css">
    <script src="/assets/js/sliding.js/" type="text/javascript"></script>
    <link rel="stylesheet" href="/assets/home/css/bootstrap.css/">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/assets/home/css/style.css/" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="/assets/home/css/font-awesome.css/" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <!-- //Fonts -->

</head>
<body>
<div>
    <nav class="py-2" style="border:solid 2px black;background-color:skyblue;">
                    <div id="logo">
                        <h1> <a class="navbar-brand" href="/#/"><img src="/assets/images/jbb.jpg/ " height="50px"> </a>
                        </h1>
                    </div>

                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu">
						<li ><a href="/user/productcategory/">Men </a></li>
                        <li><a href="/user/productcategory1/">Women</a></li>
                        <li><a href="/user/productcategory2/">Kids</a></li>
                        <li><a href="/user/productcategory3/">Electronics</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<li><a href="/user/login/">Login</a></li>
						<li><a href="/user/usersignup/">Signup</a></li>&nbsp;&nbsp;
<!--                        <button class="btn"><a href="/user/seeprofile/">Profile</a></button>-->


                    </ul>


                </nav><br>

<div>
    {% block content %}

    {% endblock %}

</div>
    <br><br><br><br><br><br>

<div>
<footer class="footer">

<div class="alert alert-dark" role="alert">
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Service</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="help.html">Online Help</a></li>
								<li><a href="contact.html">Contact Us</a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Quock Shop</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Mens</a></li><br>
								<li><a href="#">Womens</a></li>
								<li><a href="#">Kids & Baby</a></li>
                                <li><a href="#">Home & Living</a></li>
								<li><a href="#">Shoes</a></li>

							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Policies</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="terms.html">Terms of Use</a></li>
								<li><a href="privacy.html">Privecy Policy</a></li>
								<li><a href="refund.html">Refund Policy</a></li>
								<li><a href="billing.html">Billing System</a></li>
                            </ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="info.html">Company Information</a></li>
								<li><a href="carees.html">Careers</a></li>
								<li><a href="location.html">Store Location</a></li>

							</ul>
						</div>
					</div>
					</div>
			</div>
			</div>

</div>
</footer><!--/Footer-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>


</div>
</body>
</html>



