<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AP</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    <label>Product category</label>
<input type="text" name="category"><br>
    <label>Product Type</label>
<input type="text" name="type"><br>
    <label>Product Brand</label>
<input type="text" name="brand"><br>
    <label>product Name</label>
<input type="text" name="name"><br>
<label>Email</label>
<input type="text" name="email"><br>
<label>product description</label>
<input type="text" name="description"><br>
<label>size</label>
<input type="text" name="size"><br>
<label>size2</label>
<input type="text" name="size2"><br>
<label>size3</label>
<input type="text" name="size3"><br>
<label>size4</label>
<input type="text" name="size4"><br>
<label>product quantity</label>
<input type="text" name="quantity"><br>
<label>product price</label>
<input type="text" name="price"><br>
<label>product image1</label>
<input type="file" name="image1"><br>
<label>product image2</label>
<input type="file" name="image2"><br>
<label>product image3</label>
<input type="file" name="image3"><br>
<label>product image4</label>
<input type="file" name="image4"><br>

<input type="submit" value="add products">

</form>
</body>
</html>