{% extends 'masterpage.html' %}

{% block content %}

<div class="outer-w3-agile mt-3">
    <h1 class="tittle-w3-agileits mb-4" align="center">ADD PRODUCT</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if d %}
    <script type="text/javascript">
        alert("products added successfully ")
    </script>
    {% endif %}
<div class="form-row">
<div class="form-group col-md-4">
    <label>Product category</label>
<select name="category"  class="form-control">
    <option value="-1">Select Category</option>

    {% if catg %}
    {% for  i  in catg %}
    <option value="{{ i.categories_id }}">{{ i.categories_Name }}</option>
    {% endfor %}
    {% endif %}
</select><br>
</div>
<div class="form-group col-md-4">
    <label>Product Type</label>
    <select name="type"  class="form-control">
        <option value="-1">Select Type</option>

        {% if typeg %}
        {% for i in typeg %}
        <option value="{{ i.type_id }}">{{ i.type_Name }}</option><br>
        {% endfor %}
        {% endif %}
    </select><br>
</div>
<div class="form-group col-md-4">

    <label>Product Brand</label>
<select name="brand"  class="form-control">
    <option value="-1">select Brand</option>
    {% if brandg %}
    {% for i in brandg %}
    <option value="{{i.brand_id}}">{{i.brand_Name}}</option>
    {% endfor %}
    {% endif %}
</select><br>
</div>
</div>
<div class="form-row">
<div class="form-group col-md-6">

    <label>Product Name</label>
<input type="text" class="form-control" name="name"><br>
</div>
<div class="form-group col-md-6">
<label>Product Description</label>
<input type="text" class="form-control" name="description"><br>
</div>
</div>
<div class="form-row">
<div class="form-group col-md-3">
<label>Size</label>
<input type="text" class="form-control" name="size"><br>
</div>
<div class="form-group col-md-3">
<label>Size2</label>
<input type="text" class="form-control" name="size2"><br>
</div>
<div class="form-group col-md-3">
<label>Size3</label>
<input type="text" class="form-control" name="size3"><br>
</div>
<div class="form-group col-md-3">
<label>Size4</label>
<input type="text" class="form-control" name="size4"><br>
</div>
</div>
<div class="form-row">
<div class="form-group col-md-6">
<label>Product Quantity</label>
<input type="number" class="form-control" name="quantity"><br>
</div>
<div class="form-group col-md-6">
<label>Product Price</label>
<input type="number" class="form-control" name="price"><br>
</div>
</div>
<div class="form-row">
<div class="form-group col-md-6">
<label>Product Image1</label>
<input type="file" class="form-control" name="image1"><br>
</div>
<div class="form-group col-md-6">
<label>Product Image2</label>
<input type="file" class="form-control" name="image2"><br>
</div>
</div>
<div class="form-row">
<div class="form-group col-md-6">
<label>Product Image3</label>
<input type="file" class="form-control" name="image3"><br>
</div>
<div class="form-group col-md-6">
<label>Product Image4</label>
<input type="file" class="form-control" name="image4"><br>
</div>
</div>
<div align="center" class="form-group col-md-12">
    <input type="submit" value="Add Products">
</div>
</form>
</div>
{% endblock %}



