<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AP</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if d %}
    <script type="text/javascript">
        alert("products added successfully ")
    </script>
    {% endif %}
    <label>Product category</label>
<select name="category">
    <option value="-1">Select Category</option>

    {% if catg %}
    {% for  i  in catg %}
    <option value="{{ i.categories_id }}">{{ i.categories_Name }}</option>
    {% endfor %}
    {% endif %}
</select><br>

    <label>Product Type</label>
    <select name="type">
        <option value="-1">Select Type</option>

        {% if typeg %}
        {% for i in typeg %}
        <option value="{{ i.type_id }}">{{ i.type_Name }}</option><br>
        {% endfor %}
        {% endif %}
    </select><br>


    <label>Product Brand</label>
<select name="brand">
    <option value="-1">select Brand</option>
    {% if brandg %}
    {% for i in brandg %}
    <option value="{{i.brand_id}}">{{i.brand_Name}}</option>
    {% endfor %}
    {% endif %}
</select><br>


    <label>product Name</label>
<input type="text" name="name"><br>
<label>product description</label>
<input type="text" name="description"><br>
<label>size</label>
<input type="text" name="size"><br>
<label>size2</label>
<input type="text" name="size2"><br>
<label>size3</label>
<input type="text" name="size3"><br>
<label>size4</label>
<input type="text" name="size4"><br>
<label>product quantity</label>
<input type="text" name="quantity"><br>
<label>product price</label>
<input type="text" name="price"><br>
<label>product image1</label>
<input type="file" name="image1"><br>
<label>product image2</label>
<input type="file" name="image2"><br>
<label>product image3</label>
<input type="file" name="image3"><br>
<label>product image4</label>
<input type="file" name="image4"><br>

<input type="submit" value="add products">

</form>

</body>
</html>