{% extends 'masterpage.html' %}
{% block content %}
<div class="outer-w3-agile mt-3">
    <h1 class="tittle-w3-agileits mb-4">ADD PRODUCT BRANDS</h1>

<form method="POST" class="form-inline">

    {% csrf_token %}
    {% if wb %}
    <script type="text/javascript">
        alert('Successfully Uploaded');
    </script>
    {% endif %}





  <div>

    <input type="text" class="form-control" id="exampleInputBrand" aria-describedby="emailHelp" name="brand" placeholder="Enter Prouduct Brand">

  </div>
&nbsp;&nbsp;

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}