{% extends 'masterpage.html' %}
{% block content %}
<div class="outer-w3-agile mt-3">
    <h1 class="tittle-w3-agileits mb-4">ADD CATEGORIES</h1>

<form method="POST" class="form-inline">
    {% csrf_token %}
    {% if wc %}
    <script type="text/javascript">
        alert('successfully upload');
    </script>
    {% endif %}



<div>

    <input type="text" class="form-control" id="exampleInputCat" aria-describedby="emailHelp" name="category" placeholder="Enter Prouduct Category">
</div>&nbsp;&nbsp;



  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>



{% endblock %}