{% extends 'masterpage.html' %}
{% block content %}

<div class="outer-w3-agile mt-3">
    <h1 class="tittle-w3-agileits mb-4" align="center">SHOW TYPE</h1>
<table  class="table table-bordered" cellspacing="0" cellpadding="10" border="2px solid blue" align="center">
    <tr>
        <th class="thead-dark">
            ProductType Name:
        </th>
        <th>Action</th>
        <th>Action</th>
    </tr>
    {% if showt %}
    {% for i in showt %}

    <tr>
        <td >
            {{i.type_Name}}
        </td>
         <td><a href="/manager/updatetype/?id={{i.type_id}}">Edit</a></td>
        <td><a href="/manager/deletetype/?id={{i.type_id}}">Delete</a></td>
    </tr>


    {% endfor %}
    {% endif %}
</table>
</div>
{% endblock %}