<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table cellspacing="0" cellpadding="10" border="2px solid blue">
    <tr>
        <th>
            ProductType Name:
        </th>
        <th>Action</th>
        <th>Action</th>
    </tr>
    {% if showt %}
    {% for i in showt %}

    <tr>
        <td >
            {{i.type_Name}}
        </td>
         <td><a href="/manager/updatetype/?id={{i.type_id}}">Edit</a></td>
        <td><a href="/manager/deletetype/?id={{i.type_id}}">Delete</a></td>
    </tr>


    {% endfor %}
    {% endif %}
</table>


</body>
</html>