{% extends 'masterpage.html' %}
{% block content %}

<table cellspacing="0" cellpadding="10" border="2px solid blue">
    <tr>
        <th>
            ProductCategory Name:
        </th>
        <th>Action</th>
        <th>Action</th>
    </tr>
    {% if showc %}

    {% for i in showc %}

    <tr>
        <td >
            {{i.categories_Name}}
        </td>
        <td><a href="/manager/updatecategories/?id={{i.categories_id}}">Edit</a></td>
        <td><a href="/manager/deletecategories/?id={{i.categories_id}}">Delete</a></td>
    </tr>




    {% endfor %}
    {% endif %}
</table>


{% endblock %}