{% extends 'masterpage.html' %}
{% block content %}
<div class="outer-w3-agile mt-3">
    <h1 class="tittle-w3-agileits mb-4" align="center">SHOW CATEGORIES</h1>

<table cellspacing="0" class="table table-bordered"  cellpadding="10" border="2px solid blue" align="center">
    <tr class="thead-dark">
        <th>
            ProductBrand Name:
        </th>
        <th>Action</th>
        <th>Action</th>
    </tr>
    {% if showb %}
    {% for i in showb %}

    <tr>
        <td >
            {{i.brand_Name}}
        </td>
        <td><a href="/manager/updatebrand/?id={{i.brand_id}}">Edit</a></td>
        <td><a href="/manager/deletebrand/?id={{i.brand_id}}">Delete</a></td>
    </tr>


    {% endfor %}
    {% endif %}
</table>

</div>
{% endblock %}