<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table cellspacing="0" cellpadding="10" border="2px solid blue">
    <tr>
        <th>
            ProductBrand Name:
        </th>
        <th>Action</th>
        <th>Action</th>
    </tr>
    {% if showb %}
    {% for i in showb %}

    <tr>
        <td >
            {{i.brand_Name}}
        </td>
        <td><a href="/manager/updatebrand/?id={{i.brand_id}}">Edit</a></td>
        <td><a href="/manager/deletebrand/?id={{i.brand_id}}">Delete</a></td>
    </tr>


    {% endfor %}
    {% endif %}
</table>


</body>
</html>