{% extends 'masterpage.html' %}
{% block content %}
<div class="outer-w3-agile mt-3">
    <h1 class="tittle-w3-agileits mb-4" align="center">UPDATE CATEGORIES</h1>
<form method="post">
    {% csrf_token %}
    {% if uc %}
    <script>
        alert("successfully updated")
    </script>
    {% endif %}



<div>
    <label>Product Category Name</label>
    <input type="text" value="{{uc.categories_Name}}" name="name">&nbsp;&nbsp;
    <input type="submit" value="Update Category">
</div>


</form>
</div>
{% endblock %}