{% extends 'masterpage.html' %}
{% block content %}
<div class="outer-w3-agile mt-3">
    <h1 class="tittle-w3-agileits mb-4" align="center">UPDATE PRODUCTS</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if d %}
    <script type="text/javascript">
        alert("products successfully updated")
    </script>
    {% endif %}
<div class="form-row">
    <div class="form-group col-md-6">
    <label  for="inputName" >Name</label>
    <input type="text" name="pname" id="InputName" class="form-control" value="{{d.product_name}}" >
    </div>
    <div class="form-group col-md-6">
     <label for="inputDescription">Description</label>
    <input type="text" name="description" id="InputDescription" class="form-control" value="{{d.product_description}}" >
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-3">
     <label for="inputSize">Size</label>
    <input type="text" name="size" id="InputSize" class="form-control" value="{{d.product_size}}" >
    </div>
    <div class="form-group col-md-3">
     <label for="inputSize2">Size2</label>
       <input type="text" name="size2" id="InputSize2" class="form-control" value="{{d.product_size2}}" >
    </div>
    <div class="form-group col-md-3">
     <label for="inputSize3">Size3</label>
        <input type="text" name="size3" id="InputSize3" class="form-control"  value="{{d.product_size3}}" >
    </div>
    <div class="form-group col-md-3">
     <label for="inputSize3">Size4</label>
    <input type="text" name="size4" id="InputSize4" class="form-control" value="{{d.product_size4}}">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
     <label for="inputQty">Quantity</label>
    <input type="text" name="qty" id="InputQty" class="form-control" value="{{d.product_qty}}" >
    </div>
    <div class="form-group col-md-6">
     <label for="inputPrice">Price</label>
    <input type="text" name="price" id="InputPrice" class="form-control" value="{{d.product_price}}" >
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
     <label for="inputImage1">Image1</label>
    <img src="/media/{{d.product_image1}}" height="60px" width="80px"  ><input type="file" name="image1" id="InputImage1" class="form-control">
    </div>
    <div class="form-group col-md-6">
     <label for="inputImage2">Image2</label>
    <img src="/media/{{d.product_image2}}" height="60px" width="80px" ><input type="file" name="image2" id="InputImage2" class="form-control">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
     <label for="inputImage3">Image3</label>
    <img src="/media/{{d.product_image3}}" height="60px" width="80px" ><input type="file" name="image3"  id="InputImage3" class="form-control">
    </div>
    <div class="form-group col-md-6">
    <label for="inputImage4">Image4</label>
    <img src="/media/{{d.product_image4}}" height="60px" width="80px" ><input type="file" name="image4" id="InputImage4" class="form-control">
    </div>
</div>
<div align="center" class="form-group col-md-12">
    <input type="submit" value="Update Products">
</div>
</form>
</div>
{% endblock %}